@import 'fonts';
@import 'globals';
@import 'block-positioning';
@import 'media-queries';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.section-title {
  margin-bottom: 6px;
}

/* header */

.header-pre {
  display: none;

  @include laptop {
    display: block;
    height: 43px;
  }
}

.header-main {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  height: 57px;
  border-bottom: 1px solid $border-grey;
  .diagonal-group {
    height: 100%;
  }

  .skew {
    transform-origin: bottom left;
    transform: skew(-25deg);
  }
  .unskew {
    transform: skew(25deg);
  }
  @include laptop {
    height: 75px;
    align-items: center;
  }
}

.header__logo {
  margin: 7px 0 0 20px;
  width: 139px;
  img {
    width: 100%;
  }
  @include laptop {
    width: 174px;
  }
}

.header-cart,
.header-menu,
.header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-cart {
  padding-right: 10px;
}

.header-menu {
  width: 62px;
}

.header-search {
  width: 75px;
  @include laptop {
    width: 123px;
  }
}

.header-menu,
.header-cart {
  @include laptop {
    display: none;
  }
}

.desktop-menu {
  display: none;
  @include laptop {
    display: block;
    li {
      margin-right: 30px;
      a {
        text-decoration: none;
      }
    }
  }
}

/*product page*/

.product {
  @include laptop {
    margin-bottom: 200px;
  }
}

.compare-price-text {
  margin-left: 0.5em;
}

.product-title {
  margin-bottom: 1em;
}

.page-container {
  position: relative;
  padding-top: 77px;
  @include laptop {
    max-width: 1150px;
    padding-top: 110px;
    margin-left: auto;
    margin-right: auto;
  }
}

.breadcrumbs {
  display: none;
  @include laptop {
    display: block;
    position: absolute;
    top: 50px;
    left: 0px;
  }
}

/* show before image gallery in  mobile, after in larger screens*/
.product-title.desktop,
.product-price.desktop {
  display: none;
  @include laptop {
    display: block;
  }
}

.product-title.mobile,
.product-price.mobile {
  display: block;
  @include laptop {
    display: none;
  }
}

/*title and price */

.product-price {
  margin-bottom: 3.6em;
  .icon.chart {
    margin-left: 1em;
  }
}

.container {
  width: 100%;
  margin-left: 38px;
  margin-right: 38px;
  @include laptop {
    margin-left: 70px;
    margin-right: 0px;
  }
}

/* gallery */
.product-gallery {
  margin: 0px auto 26px auto;
  max-width: 577px;
  @include laptop {
    margin: inherit;
  }
}

.product-details {
  width: 100%;
  @include laptop {
    max-width: 465px;
    min-width: 350px;
  }
}

.product-selection {
  min-height: 394px;
  padding: 22px 66px 50px;
  margin-bottom: 10px;
  position: relative;
  .chevron-left,
  .chevron-right {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
  }

  @include laptop {
    box-shadow: 1px 1px 5px 3px rgb(125 125 125 / 8%),
      -1px -1px 5px 3px rgb(125 125 125 / 8%);
    padding: 22px 100px 0px;
    height: 545px;
  }
}

.chevron-left {
  left: calc(0% + 35px);
}

.chevron-right {
  right: calc(0% + 35px);
}

.current-slide {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(0% + 12px);

  .horizontal-rule::before {
    margin-left: 8px;
  }
  @include laptop {
    display: none;
  }
}

.product-slides {
  display: none;
  @include laptop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    grid-template-rows: 129px;
  }
}

.product-thumbnail {
  padding: 7px 25px 7px;
  box-shadow: 1px 1px 5px 3px rgb(125 125 125 / 8%),
    -1px -1px 5px 3px rgb(125 125 125 / 8%);
  cursor: pointer;
}

.active-thumb {
  border: 3px solid $bg-baby-blue;
  background-color: $bg-baby-blue;
}

.active-slide::before {
  color: $font-cyan;
}

.product-slides img,
.product-selection img {
  width: 100%;
  margin: 0 auto;
  display: block;
  @include landscape-tablet {
  }
}

/* payment info*/
.payment-info {
  padding: 17px 15px 10px 15px;
  margin-bottom: 40px;
}

.payment-info span {
  margin-left: 1em;
}

.payment-info .icon.credit-card {
  margin-bottom: 0.5em;
}

/* colour-palette */

.section-title span {
  text-transform: capitalize;
  letter-spacing: normal;
}

.colour-palette {
  margin-bottom: 40px;
}

.product-colour {
  gap: 9px;
  li {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-bottom: 12px;
    cursor: pointer;
  }
  .black {
    background-color: #000000;
  }
  .navy {
    background-color: #1e3966;
  }
  .brown {
    background-color: #4d4d4d;
  }
  .pink {
    background-color: #8f4a81;
  }
  .red {
    background-color: #aa202d;
  }
  .yellow {
    background-color: #f1c44f;
  }
  .blue {
    background-color: #264f9e;
  }
  .grey {
    background-color: #b3b3b3;
  }
  .orange {
    background-color: #f5ab6e;
  }
  .green {
    background-color: #094900;
  }
  .baby-blue {
    background-color: #99d2ef;
  }
}

.check::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Sizes */

.product-size {
  margin-bottom: 40px;
}

.sizes {
  margin-bottom: 8px;
  gap: 9px;

  li {
    width: 47px;
    height: 38px;
    border: 1px solid $border-grey;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.active-size {
      background-color: $font-cyan;
      color: $font-bg-white;
      font-weight: 400;
    }

    &.unavailable {
      color: $border-grey;
      font-weight: 400;
      background-image: linear-gradient(
        143deg,
        transparent 0%,
        transparent 48%,
        $border-grey 50%,
        transparent 52%,
        transparent 100%
      );
    }
  }
}

.size-guide span {
  margin-left: 10px;
  cursor: pointer;
}

/* monogram */

.product-monogram {
  margin-bottom: 40px;
  input {
    width: 100%;
    height: 45px;
    border: 1px solid $border-grey;
    outline: none;
    padding: 13px;
  }
}

/* add to basket */
.add-to-basket {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  .favourite {
    position: relative;
    width: 45px;
    margin-right: 12px;
  }
}

.button {
  flex-grow: 1;
  text-decoration: none;
}

.heart::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* other stores */

.other-stores {
  margin-bottom: 50px;
  span {
    margin-left: 1em;
  }
}
