@import 'fonts';
@import 'globals';
@import 'block-positioning';
@import 'media-queries';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.section-title {
  margin-bottom: 6px;
}

/* header */

.header-pre {
  display: none;

  @include large {
    display: block;
    height: 43px;
  }

  .group-right {
    gap: 22px;
    a {
      margin-left: 10px;
    }
  }
}

.pre-header-container {
  height: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  @include x-large {
    max-width: 1300px;
  }
}

.header-main {
  height: 57px;
  position: relative;
  z-index: 10;
  box-shadow: 1px 2px 2px 1px rgb(125 125 125 / 10%);

  .diagonal-group {
    height: 100%;
  }

  .skew {
    transform-origin: bottom left;
    transform: skew(-25deg);
  }
  .unskew {
    transform: skew(25deg);
  }
  @include large {
    height: 75px;
    box-shadow: 1px 2px 3px 2px rgb(125 125 125 / 14%);
    width: 100%;
    display: flex;
  }

  .empty-block.right {
    @include large {
      background-color: $font-bg-navy;
    }
  }
}

.empty-block {
  display: none;
  @include large {
    display: flex;
    flex-grow: 1;
  }
}

.header-block {
  flex-basis: 960px;
  height: 100%;
  overflow: clip;
  @include x-large {
    flex-basis: 1300px;
  }
}

.header__logo {
  margin: 7px 0 0 20px;
  width: 139px;
  img {
    width: 100%;
  }
  @include large {
    width: 150px;
    margin-left: 0px;
  }
  @include x-large {
    width: 174px;
  }
}

.header-cart,
.header-menu,
.header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-cart {
  padding-right: 10px;
}

.header-menu {
  width: 62px;
}

.header-search {
  width: 75px;
  @include large {
    width: 60px;
  }
  @include x-large {
    width: 90px;
  }
}

.header-menu,
.header-cart {
  @include large {
    display: none;
  }
}

.desktop-menu {
  display: none;
  ul {
    margin-left: 5%;
    @include large {
      gap: 10px;
    }
    @include xx-large {
      gap: 30px;
    }
  }
  @include large {
    display: flex;
    align-items: center;
    flex-grow: 1;
    li {
      a {
        text-decoration: none;
        &:hover {
          color: #5075bc;
        }
      }
    }
  }
}

/*product page*/

.product {
  padding-top: 77px;
  @include large {
    padding-top: 110px;
    padding-bottom: 190px;
    justify-content: inherit;
  }
  justify-content: center;
}

.product-price {
  a {
    margin-left: 0.5em;
    @include large {
      text-decoration: underline;
      font-size: 1.3em;
    }
  }
}

.product-title {
  margin-bottom: 1em;
  @include large {
    margin: 2.5em 0;
  }
  h1 {
    @include large {
      font-size: 3.3rem;
    }
  }
}

.page-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  @include x-large {
    max-width: 1200px;
  }
}

.breadcrumbs {
  display: none;
  a {
    text-decoration: none;
  }
  @include large {
    display: block;
    position: absolute;
    top: -55px;
    left: 0px;
  }
}

/* show before image gallery in  mobile, after in larger screens*/
.product-title.desktop,
.product-price.desktop {
  display: none;
  @include large {
    display: block;
  }
}

.product-title.mobile,
.product-price.mobile {
  display: block;
  @include large {
    display: none;
  }
}

/*title and price */

.product-price {
  margin-bottom: 3.6em;
  .icon.chart {
    margin-left: 1em;
  }
  @include large {
    margin-bottom: 1em;
  }
}

.container {
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  @include large {
    margin-left: 50px;
    margin-right: 0px;
    max-width: 442px;
  }
  @include x-large {
    margin-left: 75px;
  }
}

/* gallery */
.product-gallery {
  position: relative;
  margin-top: 0px;
  margin-bottom: 26px;
  max-width: 442px;
  @include large {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  @include x-large {
    max-width: 577px;
  }
}

.product-details {
}

.product-selection {
  padding: 22px 66px 50px;
  margin-bottom: 10px;
  position: relative;
  .chevron-left,
  .chevron-right {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    &:hover::before {
      color: $font-bg-navy;
    }
  }

  @include large {
    box-shadow: 1px 1px 5px 3px rgb(125 125 125 / 8%),
      -1px -1px 5px 3px rgb(125 125 125 / 8%);
    padding: 22px 100px;
  }
  @include x-large {
  }
}

.chevron-left {
  left: calc(0% + 35px);
}

.chevron-right {
  right: calc(0% + 35px);
}

.current-slide {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(0% + 12px);

  .horizontal-rule::before {
    margin-left: 8px;
  }
  @include large {
    display: none;
  }
}

.product-slides {
  display: none;
  @include large {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

.product-thumbnail {
  border: 0px solid white;
  padding: 7px 25px 7px;
  box-shadow: 1px 1px 5px 3px rgb(125 125 125 / 8%),
    -1px -1px 5px 3px rgb(125 125 125 / 8%);
  cursor: pointer;
}

.active-thumb {
  border: 2px solid $bg-baby-blue;
  background-color: $bg-baby-blue;
  box-shadow: none;
  transition: all 0.1s;
}

.active-slide::before {
  color: $font-cyan;
}

.product-slides img,
.product-selection img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* payment info*/
.payment-info {
  padding: 17px 15px 10px 15px;
  margin-bottom: 40px;
  span {
    margin-left: 0.6em;
    @include large {
      color: $font-grey;
      font-size: 1.4rem;
    }
  }
}

.payment-info .icon.credit-card {
  margin-bottom: 0.5em;
}

/* colour-palette */

.section-title span {
  text-transform: capitalize;
  letter-spacing: normal;
  @include large {
    color: $font-grey;
  }
}

.colour-palette {
  margin-bottom: 40px;
}

.product-colour {
  gap: 9px;
  li {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }
  .black {
    background-color: #000000;
  }
  .navy {
    background-color: #1e3966;
  }
  .brown {
    background-color: #4d4d4d;
  }
  .pink {
    background-color: #8f4a81;
  }
  .red {
    background-color: #aa202d;
  }
  .yellow {
    background-color: #f1c44f;
  }
  .blue {
    background-color: #264f9e;
  }
  .grey {
    background-color: #b3b3b3;
  }
  .orange {
    background-color: #f5ab6e;
  }
  .green {
    background-color: #094900;
  }
  .baby-blue {
    background-color: #99d2ef;
  }
}

.check::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Sizes */

.product-size {
  margin-bottom: 40px;
}

.sizes {
  margin-bottom: 8px;
  gap: 9px;

  li {
    width: 47px;
    height: 38px;
    border: 1px solid $border-grey;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.active-size {
      background-color: $font-cyan;
      color: $font-bg-white;
      font-weight: 400;
    }

    &.unavailable {
      color: $border-grey;
      font-weight: 400;
      background-image: linear-gradient(
        143deg,
        transparent 0%,
        transparent 48%,
        $border-grey 50%,
        transparent 52%,
        transparent 100%
      );
    }
  }
}

.size-guide span {
  margin-left: 10px;
  cursor: pointer;
  @include large {
    color: $font-grey;
    font-size: 1.3em;
  }
}

/* monogram */

.product-monogram {
  margin-bottom: 40px;
  input {
    width: 100%;
    height: 45px;
    border: 1px solid $border-grey;
    outline: none;
    padding: 13px;
    @include large {
      height: 38px;
    }
  }
}

/* add to basket */
.add-to-basket {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  gap: 9px;
  .favourite {
    position: relative;
    width: 45px;
    cursor: pointer;
    @include large {
      order: 3;
    }
  }
  .item-quantity {
    width: 102px;
    border: 1px solid $border-grey;
    &.desktop {
      display: none;
      @include large {
        display: flex;
      }
    }
    div {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @include large {
    margin-bottom: 40px;
    height: 40px;
    order: 2;
  }

  .heart::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.button {
  flex-grow: 1;
  text-decoration: none;
  &:hover {
    background-color: #5075bc;
  }
  @include large {
    font-size: 1.4em;
    font-weight: 500;
  }
}

/* other stores */

.other-stores {
  margin-bottom: 50px;
  @include large {
    margin-bottom: 0px;
  }
  span {
    margin-left: 1em;
    @include large {
      color: $font-grey;
    }
  }
  a {
    @include large {
      color: $font-grey;
    }
  }
}

/* description + reviews*/
.description-review {
  position: relative;
  width: 100%;
  margin-top: 0px;
  @include large {
    height: 378px;
    margin-top: 70px;
  }
  .description-block,
  .review-block {
    @include large {
      width: 100%;
      position: absolute;
      max-height: 0px;
    }
    .icon::before {
      content: '\f067';
      color: $font-cyan;
    }
  }

  .active-block {
    .tab-content {
      width: 100%;
      max-height: 330px;
    }
    .icon::before {
      content: '\f068';
    }
  }
  .tab-title {
    padding: 0 3.5em;
    width: 100%;
    height: 55px;
    cursor: pointer;
    justify-content: space-between;
    @include large {
      position: absolute;
      width: 442px;
      justify-content: center;
    }
    @include x-large {
      width: 577px;
    }
    &.tab-review {
      @include large {
        right: 0px;
      }
    }
    &.tab-description {
      @include large {
        left: 0px;
      }
    }
    .icon {
      @include large {
        display: none;
      }
    }
  }
  .tab-content {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    @include large {
      position: absolute;
      top: 55px;
      transition: none;
    }
    .tab-content-wrapper {
      padding: 3em 3.5em;
      @include large {
        padding: 4em 5em 7.5em;
        max-height: inherit;
      }
    }
  }
  ul:not(:first-of-type) {
    margin-top: 20px;
  }
}

footer {
  .section-title {
    margin-bottom: 25px;
  }
  .footer-contact-us {
    display: none;
    @include large {
      padding-top: 65px;
      padding-right: 40px;
      display: block;
    }
    ul {
      column-count: 2;
      display: block;
      li {
        line-height: 1.5;
        margin-bottom: 16px;
        &.email {
          margin-top: 40px;
        }
      }
    }
  }
  .our-providers,
  .ways-to-pay {
    display: none;
    @include x-large {
      display: block;
    }
  }
  .footer-payment-links {
    width: 100%;
    flex-direction: column;
    align-content: flex-start;
    padding: 65px 40px 58px 40px;
    @include large {
      width: auto;
      flex-direction: row;
      justify-content: space-between;
      align-content: inherit;
      flex-grow: 1;
    }
    ul {
      line-height: 2.6;
    }
    .footer-links {
      margin-bottom: 25px;
      @include large {
        margin-bottom: 0px;
      }
    }
  }
  .footer-wrapper {
    border-top: 2px solid white;
  }
  .footer-block {
    flex-basis: 960px;
    flex-wrap: nowrap;
    @include x-large {
      flex-basis: 1200px;
    }
  }
  .empty-block.left {
    background-color: $bg-light-baby-blue;
  }
  .empty-block.right {
    background-color: $bg-baby-blue;
  }
  .footer-strip {
    height: 50px;
  }
}
